@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css");

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Flex', Arial, sans-serif !important;
}

body.bg-dark.py-3 {
    background-color: #000000 !important;
}

#header-logo {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../assets/banner-initial.png') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.logo {
    width: 150px;
    height: 50px;
    padding: 5px;
    margin-left: 10px;
    animation: bounce 2s infinite;
}

#div-logo {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0 10px;
}

#h1-logo {
    font-size: 6.2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    padding: 20px 50px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 1.2;
    animation: fade-in 1.2s ease-in-out; 
}

#h3-logo {
    font-size: 2rem;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
    margin-bottom: 15px;
}

#h5-logo {
    font-size: 1.3rem;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
    margin-bottom: 25px;
}

#div-logo button {
    background-color: #e50914;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 8px;
    padding: 15px 40px;
    transition: background-color 0.3s ease-in-out;
}

#div-logo button:hover {
    background-color: #DC3545;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
}

#section-tv {
    border-bottom: 4px solid #515c6f;
    padding: 4rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#div-img-dev {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#h2-img-dev {
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 1.2;
    max-width: 700px;
}

#h3-img-dev {
    font-size: 2rem !important;
    line-height: 1.5;
    color: #f8f9fa;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 0;
    max-width: 500px;
}

#img-dev {
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-fluid-direita {
    max-width: 100%;
    height: 400px;
    max-height: 500px;
}

#section-devices {
    border-bottom: 4px solid #515c6f;
    padding: 4rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
}

#div-section-devices {
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-fluid-esquerda {
    max-width: 100%;
    height: 400px;
    max-height: 500px;
}

#h2-section-devices {
    font-size: 4.5rem;
    margin-bottom: 1rem;
    line-height: 1.2;
}

#h3-section-devices {
    font-size: 2rem !important;
    line-height: 1.8;
    color: #f8f9fa;
    text-align: left;
    margin-top: 1rem;
    max-width: 600px;
}

#h2-accordion {
    font-size: 4rem;
    margin-bottom: 1rem;
}

#accordion-section {
    width: 100% !important;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.accordion {
    border: 2px solid #333;
}

#faqAccordion {
    border: none;
}

.accordion-button {
    background-color: #333 !important;
    color: #fff !important;
    border: none;
    display: flex;
    padding: 16px 20px;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
    font-size: 1.8rem !important;
    padding: 30px 30px !important;
    font-size: 1.8rem !important;
    height: auto;
    gap: 1rem;
    justify-content: flex-start !important;
}

.accordion-header {
    display: flex;
    align-items: center;
    font-size: 1.2rem !important;

}

.accordion-button:not(.collapsed)::after {
    transform: rotate(45deg);
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round'><path d='M1 8L15 8M8 1L8 15'/></svg>") !important;
    background-size: 1.8rem;
    width: 1.8rem;
    height: 1.8rem;
    content: "";
}

.accordion-body {
    padding: 30px !important;
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;

}

.accordion-item {
    margin-bottom: 8px;
    border: none !important;
}

#p-accordion {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 1rem;
    text-align: center;
}


#accordionButton-Go {
    color: #fff;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 20px 35px;
    border-radius: 8px;
    background-color: #e50914;
    border: none;
    transition: background-color 0.3s ease-in-out;
    animation: pulse 0.8s infinite;
}

#accordionButton-Go:hover {
    background-color: #DC3545;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
}

#footer {
    border-top: 4px solid #515c6f;
    padding: 20px 40px;
    justify-content: space-between;
    margin: 30px;
    padding: 20px 40px;
    color: #757575;
}

#footer-section p {
    margin-left: 20px;
    margin-right: 20px;
    margin: 5px 0;
    font-size: 1.2rem;
}

#footer-section-meio p {
    margin-left: 15px;
    margin-right: 15px;
    line-height: 1.9;
    margin: 5px 0;
    font-size: 1rem;
}

#div-footer {
    font-size: 1.3rem;
}

#div-footer-meio {
    padding: 20px;
    font-size: 1.1rem;
}

#footer-section .mt-3 {
    margin-top: 10px !important;
}

#footer-section-meio .col-6 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}


@media (max-width: 768px) {
    .logo {
        height: 30px !important;
        margin-right: 10px;
    }
    
    #h1-logo {
        font-size: 3.5rem;
        padding: 10px 20px;
    }

    #h3-logo {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    #h5-logo {
        font-size: 1.1rem;
        margin-bottom: 15px;
    }

    #div-logo button {
        font-size: 1.5rem;
        padding: 10px 30px;
    }

    #h2-img-dev,
    #h2-section-devices {
        font-size: 2.5rem;
        text-align: center;
    }

    #h3-img-dev,
    #h3-section-devices {
        font-size: 1.2rem;
        text-align: center;
        margin-left: 0;
        max-width: 100%;
    }

    #section-tv,
    #section-devices {
        flex-direction: column;
        padding: 2rem 1rem;
        text-align: center;
    }

    #img-fluid-direita,
    #img-fluid-esquerda {
        height: auto;
        max-height: 300px;
    }

    #accordion-section {
        padding: 10px;
    }

    .accordion-button {
        font-size: 1.2rem;
        padding: 10px 15px;
    }

    #footer-section-meio .col-6 {
        align-items: center;
    }

    #footer-section-meio {
        text-align: center;
    }
}

@media (max-width: 576px) {
    #h1-logo {
        font-size: 2.5rem;
    }

    #h3-logo {
        font-size: 1.2rem;
    }

    #div-logo button {
        font-size: 1rem;
        padding: 8px 20px;
    }

    #h2-img-dev,
    #h2-section-devices {
        font-size: 2rem;
    }

    #img-fluid-direita,
    #img-fluid-esquerda {
        height: auto;
        max-height: 250px;
    }

    #footer-section-meio .col-6 {
        width: 100%;
        margin-bottom: 15px;
    }
}
